html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(187, 223, 205);
}

div.container {
    width: 760px;
    height: 760px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 32px;
    border: 40px solid rgb(102, 13, 13);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgb(53, 63, 58);
}

.grid {
    border: 0px;
    font-size: 6px;
    background-color: rgb(255, 255, 255);
}

.button-container {
    padding: 16px;
    margin: auto;
}

.button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(121, 193, 218);
}

.button:active {
    background-color: rgb(98, 183, 211);
}

.text-container {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 760px;
}



#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background-color: lightgray;
    width: 100%;
    margin-top: auto;
}

/* Sliders */

#shaderText,
#lightenerText,
#sizeText {
    font-weight: bold;
}

.warning-text {
    font-size: 12px;
}

.slidercontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #949494;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0468aa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0468aa;
    cursor: pointer;
}