html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(187, 223, 205);
}

div.container {
    width: 760px;
    height: 760px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 32px;
    border: 40px solid rgb(102, 13, 13);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgb(53, 63, 58);
}

#header {
    margin-left: 228px;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px rgb(53, 63, 58);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    background-color: lightgray;
    width: 100%;
    margin-top: auto;
}

.grid {
    border: 0px;
    font-size: 6px;
    background-color: rgb(255, 255, 255);
}

#grid-size {
    margin-top: 15px;
}

/* Containers */

.main-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
}

.options-container {
    padding: 16px;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    height: 620px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 15px rgb(53, 63, 58);
    background-color: rgb(102, 13, 13);
    color: white;
}


.text-container {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 840px;
}

/* Buttons */

.color-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid black;
    padding-top: 15px;
}

.color-buttons button {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 10px;
}

.color-buttons button:hover {
    background-color: rgb(121, 193, 218);
}

.color-buttons button:active {
    background-color: rgb(98, 183, 211);
}

.color-buttons button:focus {
    background-color: rgb(73, 170, 202);
}

#clear:hover {
    background-color: rgb(245, 102, 59);
}

#clear:active {
    background-color: rgb(187, 66, 29);
}

#resize {
    margin-top: 5px;
    border-radius: 10px;
}

#resize:hover {
    background-color: lightgray;
}

/* Sliders */

#shaderText,
#lightenerText,
#sizeText {
    font-weight: bold;
}

.slider-text {
    margin-bottom: 12px;
}

.warning-text {
    font-size: 12px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: flex;
    flex-direction: column;
}

.slider input {
    opacity: 0.6;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #0468aa;
    cursor: pointer;
    flex: 0;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #0468aa;
    cursor: pointer;
    flex: 0;
}

/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 32px;
    flex-shrink: 0;
    opacity: 0.8;
    align-self: center;
    margin-top: 20px;
}

.switch:hover {
    opacity: 1;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#switch-text {
    font-size: 16px;
    text-align: center;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #949494;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "OFF";
    text-align: center;
    font-size: 10px;
    color: white;
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: #0468aa;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #e9e9e9;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    content: "ON";
    text-align: center;
    font-size: 10px;
    color: white;
}